*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
#bg{
    height: 100%;
    width: 100%;
    background-color: wheat;
}
#nav{
    height: 10%;
    width: 100%;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;


}
#nav_part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h3{
    font-size: 17px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    border: 1.5px solid #000;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 22;
    text-transform: uppercase;
   
}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5 solid black;
    font-size: 16px;
    font-weight: 600;
}
#b2{
    border: none;
    color: rgb(246, 246, 246);
    background-color: rgba(255, 68, 0, 0.953);
}

#bg>h1{
    /*color: brown;*/
    font-size: 160px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img{
    height: 450px;
    width: 350px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;  
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg); 
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
    
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
    
}
#btm_left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 18px;
    font-weight: 150;
}
